@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import "variables";
@import "react-tags";
@import "font-awesome/_font-awesome";

// include blueprintjs ui components
@import "../../node_modules/@blueprintjs/core/dist/blueprint.css";

@mixin custom-font {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

@mixin make-button($color: $blue, $second-color: #FFF) {
  @include custom-font;
  background: $second-color;
  border-radius: $border-radius;
  color: $color;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid $color 2px;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background: $color;
    color: $second-color;
    text-decoration: none;
  }
}

@mixin make-button-sm($color: $blue, $second-color: #FFF) {
  @include make-button($color, $second-color);
  padding: 5px 10px 5px 10px;
  font-size: 16px;
}

// remove the link styles from a link
@mixin neutralize-link {
  color: $text-color;
  text-decoration: none;
}

// make a round image to display the image for an item
@mixin image-round {
  border-radius: 50%;
  width: $image-size;
  height: $image-size;
}

@import "sidebar";
@import "navbar";
@import "detail";
@import "add-new-item";
@import "error-modal";
@import "pickameal";

// The root component needs to be mounted in as large a component as possible.
#root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  @include custom-font;
  color: $text-color;

  & > div {
    height: calc(100% - 50px);
  }
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.app-body {
  flex: 2;
  overflow-y: auto;
}

// The searchbox at the top of the document
// This is used to provide an easy way to jump to new items
.app-body .app-searchbox {
  height: 64px;
  border-bottom: 1px solid $gray-lighter;
  display: flex;

  // revert the react-select styles to make it fit "inside" of the parent.
  .Select {
    flex: 1;
    .Select-control {
      border: 0px;
      height: 64px;

      .Select-placeholder, .Select-input {
        line-height: 64px;
      }
    }
  }

  .Select.item-is-selected {
    display: none;
  }
  .Select.item-is-selected + input[type=text] {
    flex: 1;

    border: 0;
    padding: 20px 10px;
  }
}

.app-calc-list {
  h1 {
    margin-left: 20px;
  }
  ul {
    margin-left: 20px;
    list-style-type: none;
    padding-left: 0px;
    li {
      display: flex;
      padding: 0.5em;

      button {
        @include make-button-sm($blue, #FFF);
        display: inline-block;
        margin-top: -0.5em;
      }

      .name { flex: 2; }
      .quantity { flex: 1; }
      .price {
        flex: 1;
        min-width: 100px;

        .disabled { color: $gray-lighter; }
      }
    }
  }
}

.app-sammy {
  text-align: center;
  margin-top: 3em;

  p {
    margin: 1em auto;
    width: 500px;
    font-size: 1.4em;
  }
}
