@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import "variables";

// The root component needs to be mounted in as large a component as possible.
#root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.app-sidebar {
  width: 300px;
  height: 100%;
  background-color: $gray-lighter;
  border-right: 1px solid $gray-lighter;
  overflow-y: auto;

  ul {
    margin-top: 0px;
    padding-left: 0px;
    list-style-type: none;

    li {
      background-color: #FFF;
      padding: 20px 10px;
      border-bottom: 1px solid $gray-lighter;
      cursor: pointer;
      border-left: 5px solid transparent;

      &:hover { background-color: lighten($selected, 5%); }
      &.active { background-color: $selected; }
      &.is-item { border-left-color: $yellow; }
      &.is-recipe { border-left-color: $blue; }
    }
  }
}

.app-body {
  flex: 1;
}

.app-body .app-searchbox {
  height: 64px;
  border-bottom: 3px solid $gray-lighter;
  display: flex;

  // revert the react-select styles to make it fit "inside" of the parent.
  .Select {
    flex: 1;
    .Select-control {
      border: 0px;
      height: 64px;

      .Select-placeholder, .Select-input {
        line-height: 64px;
      }
    }
  }

  .Select.item-is-selected {
    display: none;
  }
  .Select.item-is-selected + input[type=text] {
    flex: 1;

    border: 0;
    padding: 20px 10px;
  }
}

.app-body .app-detail {
  padding-left: 20px;

  // items within a list displayed in the detail view
  ul {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li {
      flex: 1;
      line-height: 2em;
      display: flex;

      &.header {
        font-weight: bold;
      }

      .item-name {
        flex: 2;
      }
      .item-quantity {
        flex: 1;
      }
      .item-close {
        margin-right: 24px;
        cursor: pointer;
        font-size: 2em;
        min-width: 0.75em; // align the header titles

        &:hover { color: $red; }
      }
    }
  }
}
