@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import "variables";

// The root component needs to be mounted in as large a component as possible.
#root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: $text-color;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.app-sidebar {
  width: 300px;
  height: 100%;
  background-color: #FFF;
  border-right: 1px solid $gray-lighter;
  overflow-y: auto;

  ul {
    margin-top: 0px;
    padding-left: 0px;
    list-style-type: none;

    li {
      background-color: #FFF;
      cursor: pointer;
      display: flex;

      border-radius: $border-radius;
      margin: 8px;
      padding: 24px 16px;

      img {
        border-radius: $border-radius;
      }

      // The text to the right of the image
      .text-container {
        flex: 1;
        margin-left: 12px;

        // The item name
        h4 {
          font-weight: bold;
          font-size: 1.2rem;
          margin-top: 0px;
          margin-bottom: 0.75em;
          white-space: nowrap;
        }

        // The subtext for the item
        span {
          font-size: 1rem;
        }
      }

      &.active { background-color: $gray-lighter; }
      // &.is-item { border-left-color: $yellow; }
      // &.is-recipe { border-left-color: $blue; }
    }
  }
}

.app-body {
  flex: 1;
}

// The searchbox at the top of the document
// This is used to provide an easy way to jump to new items
.app-body .app-searchbox {
  height: 64px;
  border-bottom: 3px solid $gray-lighter;
  display: flex;

  // revert the react-select styles to make it fit "inside" of the parent.
  .Select {
    flex: 1;
    .Select-control {
      border: 0px;
      height: 64px;

      .Select-placeholder, .Select-input {
        line-height: 64px;
      }
    }
  }

  .Select.item-is-selected {
    display: none;
  }
  .Select.item-is-selected + input[type=text] {
    flex: 1;

    border: 0;
    padding: 20px 10px;
  }
}

.app-body .app-detail {
  padding-left: 20px;

  // items within a list displayed in the detail view
  ul {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li {
      flex: 1;
      line-height: 2em;
      display: flex;

      &.header {
        font-weight: bold;
      }

      .item-name {
        flex: 2;
      }
      .item-quantity {
        flex: 1;
      }
      .item-close {
        margin-right: 24px;
        cursor: pointer;
        font-size: 2em;
        min-width: 0.75em; // align the header titles

        &:hover { color: $red; }
      }
    }
  }

  // add new search box
  // for adding things to the list
  .add-new-search-box {
    display: flex;
    width: 100%;

    // By default, show the select box
    .Select { flex: 1; }

    // When the select has an item selected, instead show the the quantity box
    .Select.item-is-selected {
      display: none;
    }
    .Select.item-is-selected + input[type=text] {
      flex: 1;
    }
  }
}
